@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Android;
  src: url(../fonts/android_7.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #070E22;
  --color-secondary: #4c4d9d;
  --color-tertiary: #fad0e3;
  --color-quartiary: #FFE785;
  --color-highlight: #DA3BB3;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}


body {
  margin:0;
  padding:0;
  font: 1rem Comfortaa, sans-serif;
  background: var(--color-primary);
  color: var(--color-tertiary);
  line-height: 1.5;
}

h1 {
  font-family: Android, Comfortaa, sans-serif;
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
  text-shadow: 2px 2px #000;
  line-height: 1;
  text-align: center;
}

h1 span {
  background: var(--color-primary);
}

h2, h3, h4 {
  font-weight: normal;
  margin: 0;
}

a {
  color: var(--color-tertiary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

container {
  display: none;
}

canvas, #celestial-map {
  height: 100% !important;
  width: 100vw !important;
  object-fit: cover;
  display: block;
  position:fixed;
  z-index: 0;
  cursor: grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
canvas:active, #celestial-map:active {
  cursor: grabbing;
}

#celestial-zoomin, #celestial-zoomout {
  position:absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  color: #fff;
  border: 1px solid #fff;
  opacity: 0.2;
  background: var(--color-primary);
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#celestial-zoomout {
  right: 3rem;
}

.main {
  position: absolute;
  min-width: calc(100% - 4rem);
  min-height: calc(100% - 4rem);
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  pointer-events: none;
}

.main * {
  pointer-events: auto;
}

.zodiac {
  align-self: flex-start;
  padding: 1rem;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.zodiac summary {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.zodiac summary:after {
  content: "\003C";
  display: block;
  rotate: -90deg;
  transition: rotate 500ms ease-in-out;
  font-size: 1.75rem;
  cursor: pointer;
  margin-left: auto;
}

.zodiac details[open] summary:after {
  rotate: 90deg;
}

.horoscope {
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .zodiac {
    max-width: 30%;
  }
}

.color-secondary-font {
  color: #a1a2d1;
}

button {
  padding: 1rem;
  font-size: 1.2rem;
  color: #fff;
  width: auto;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(35deg, var(--color-secondary), var(--color-highlight));
  background-size: 200% auto;
  transition: all 500ms ease-in-out;
  background-position: left center;
}

button:hover {
  background-position: right center;
}

.modal {
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background: var(--color-primary);
  justify-content: center;
  display: none;
}

.modal figure {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.modal img, .zodiac-img {
  cursor: pointer;
  border-radius: 50%;
}

.zodiac-img {
  align-self: center;
}

.modal.show {
  display: flex;
}

.modal figure:hover img, .zodiac details img:hover {
  box-shadow: 0 0 15px #fff;
  filter: contrast(150%);
}

.modal a {
  text-decoration: underline;
  color: var(--color-primary);
}

.modal.about {
  flex-direction: column;
  position: absolute;
  max-width: 40rem;
  background: var(--color-tertiary);
  color: var(--color-primary);
}

.about-button {
  width: fit-content;
}

.q-and-a {
  margin-top: auto;
  padding: 1rem;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

label {
  font-size: 1.2rem;
}

input {
  padding: 1rem;
  border: 0;
  font-size: 1.2rem;
  color: var(--color-primary);
  flex: 1;
  font-family: Comfortaa, sans-serif;
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.input-wrapper {
  display: flex;
  width: 100%;
}

.answer {
  font-size: 1.3rem;
}

details summary::-webkit-details-marker {
  display:none;
}

footer {
  font-size: 0.75rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}